/* 
Couleurs principales

Noir : #OOOOOO;
Gris foncé : #111111;
Blanc : #ffffff;
Jaune : #FBBC05;
Bleu : # 4285F4;

*/


/*

Conseils de CSS 

-> Passez votre body en fond noir avec textes en blanc
-> Utiliser une police moderne avec font-family
-> Passer vos titres en majuscule avec text-transform
-> Gérer les espacements via le HTML avec les class my ou py 



PAS D'INQUIETUDE SI LA MAQUETTE N'EST PAS PARFAIRE ! 
IL S'AGIT JUSTE DE REMETTRE LES MAINS DANS LE CODE :)